Repository k-urtica/tints-and-shades: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{css,scss,json}": [
    "prettier --write"
  ]
}

fix
  i18n/locales/de.yaml
  i18n/locales/es.yaml
  i18n/locales/fr.yaml
  i18n/locales/ko.yaml
  i18n/locales/zh.yaml
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix
  app/app.vue
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add localization (#10)
  .vscode/settings.json
  app/app.vue
  app/components/AboutModal.vue
  app/components/AdSidebar.vue
  app/components/Ads.vue
  app/components/AppearanceSettings.vue
  app/components/ColorCard.vue
  app/components/ColorInput.vue
  app/components/ColorWeight.vue
  app/components/Generator.vue
  app/components/LangSwitcher.vue
  app/components/MobileDrawer.vue
  app/components/PanelFooter.vue
  app/components/SidePanel.vue
  app/components/ThemeSwitcher.vue
  i18n/i18n.config.ts
  i18n/locales/de.yaml
  i18n/locales/en.yaml
  i18n/locales/es.yaml
  i18n/locales/fr.yaml
  i18n/locales/ja.yaml
  i18n/locales/ko.yaml
  i18n/locales/zh.yaml
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: remove Netlify configuration file
  netlify.toml
Due: none

fix: update responsive visibility for header and components
  app/app.vue
  app/pages/index.vue
Due: none

feat: upgrade @nuxt/ui to v3.1.1
  app/assets/main.css
  app/components/AdSidebar.vue
  app/components/Ads.vue
  app/components/Generator.vue
  app/components/MobileDrawer.vue
  app/components/SidePanel.vue
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: configure Vite to optimize dependencies
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: replace store usage with useColorQuery for color and weight management
  app/components/Generator.vue
  app/components/MobileDrawer.vue
  app/components/SidePanel.vue
  app/composables/useColorQuery.ts
  app/stores/appStore.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: refactor appearance management and remove unused app store
  app/components/AppearanceSettings.vue
  app/components/Generator.vue
  app/stores/appStore.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update package manager to pnpm@10.10.0
  package.json
Due: prettier --write

chore: upgrade nuxt to v3.17.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: wrap components in ClientOnly for improved SSR handling
  app/components/ColorInput.vue
  app/components/ColorWeight.vue
  app/components/Generator.vue
Due: none

feat: replace button group with radio group
  app/components/ColorWeight.vue
Due: none

fix:: update import path
  app/components/Generator.vue
  app/composables/useAppToast.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update import statement for eslint-plugin-import-x
  eslint.config.mjs
Due: none

fix: remove @nuxtjs/google-fonts dependency and enable fonts in UI configuration
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: update prettier and eslint script commands
  .prettierignore
  package.json
Due: prettier --write

feat: remove Prettier and consolidate formatting with ESLint
  .lintstagedrc.mjs
  .prettierignore
  .prettierrc
  .vscode/settings.json
  eslint.config.mjs
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: linting
  README.md
  app/assets/main.css
  app/components/AboutModal.vue
  app/components/AppearanceSettings.vue
  app/components/ColorCard.vue
  app/components/ColorInput.vue
  app/components/LangSwitcher.vue
  app/components/PanelFooter.vue
  app/composables/useColor.ts
  app/composables/useColorQuery.ts
  app/composables/useTwColor.ts
  app/utils/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: upgrade nuxt to v3.17.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add default font weights configuration
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: add .nvmrc
  .nvmrc
Due: none

fix: remove husky and configure simple-git-hooks
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade deps
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: replace eslint-plugin-readable-tailwind with eslint-plugin-better-tailwindcss
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade nuxt to v3.17.5
  package.json
  pnpm-lock.yaml
Due: prettier --write

Chore/upgrade deps (#11)
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade deps
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade @nuxtjs/i18n to v10.0.1
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: update packageManager to pnpm@10.13.1
  package.json
Due: prettier --write

chore: upgrade nuxt to v4.0.1
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: upgrade deps (#12)
  .vscode/settings.json
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: replace header with MobileHeader component and fix aria-hidden attribute
  app/app.vue
  app/components/MobileHeader.vue
  app/components/SiteTitle.vue
Due: none

fix: rename
  app/utils/lib.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update about
  app/components/AboutModal.vue
  i18n/locales/de.yaml
  i18n/locales/en.yaml
  i18n/locales/es.yaml
  i18n/locales/fr.yaml
  i18n/locales/ja.yaml
  i18n/locales/ko.yaml
  i18n/locales/zh.yaml
Due: none

chore: update lint rules
  app/components/AboutModal.vue
  app/components/Ads.vue
  app/components/ColorWeight.vue
  app/components/MobileDrawer.vue
  app/components/SiteTitle.vue
  app/components/Switch.vue
  eslint.config.mjs
Due: none

fix: update SidePanel
  app/components/SidePanel.vue
  app/components/SiteTitle.vue
Due: none
