Repository k-urtica/tints-and-shades: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{css,scss,json}": [
    "prettier --write"
  ]
}

feat: add nuxt-og-image module
  app/components/OgImage/Default.vue
  app/pages/index.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix
  app/components/ThemeSwitcher.vue
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update weight style
  app/components/ColorWeight.vue
Due: none

feat: update OG image
  app/components/OgImage/Default.vue
  public/ogBg.png
  public/ogp.png
Due: none

feat: add @nuxtjs/google-fonts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix
  app/components/SidePanel.vue
Due: none

faet: add nuxt google-fonts module (#2)
  app/components/SidePanel.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: Update ColorInput.vue to handle color input formatting
  app/components/ColorInput.vue
Due: none

fix: Update ColorInput.vue to handle color input formatting (#3)
  app/components/ColorInput.vue
Due: none

feat: add eslint-plugin-import-x and eslint-plugin-unused-imports with custom rules
  .prettierrc
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update dependencies and refine nuxt configuration
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: update ColorCard.vue to modify event emission format
  app/components/ColorCard.vue
Due: none

Feat/update eslint config (#4)
  .prettierrc
  app/components/ColorCard.vue
  eslint.config.mjs
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: pinned vueuse version
  package.json
  pnpm-lock.yaml
Due: prettier --write

Chore/upgrade deps (#6)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add .npmrc to enable shamefully-hoist
  .npmrc
Due: none

chore: update dependencies to specific versions and add pnpm configuration
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update NuxtUI v3
  .prettierrc
  app/app.config.ts
  app/assets/main.css
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: migrate NuxtUI v3
  app/app.vue
  app/assets/main.css
  app/components/AppearanceSettings.vue
  app/components/ColorInput.vue
  app/components/ColorWeight.vue
  app/components/Generator.vue
  app/components/MobileDrawer.vue
  app/components/MobilePanel.vue
  app/components/PanelFooter.vue
  app/components/Slider.vue
  app/components/Switch.vue
  app/components/ThemeSwitcher.vue
  app/composables/useAppToast.ts
  app/pages/index.vue
Due: eslint --fix --max-warnings=0, prettier --write

feat: downgrade Nuxt and related dependencies, adjust compatibility date
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: pin dependency versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: remove tailwind.config.cjs
  app/assets/main.css
  app/components/ColorInput.vue
  app/components/Generator.vue
  app/components/MobileDrawer.vue
  app/components/SidePanel.vue
  app/components/Slider.vue
  app/pages/index.vue
  tailwind.config.cjs
Due: prettier --write

chore: upgrade @nuxt/ui to v3.0.2
  app/assets/main.css
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add redirects configuration
  _redirects
Due: none

fix: add redirects configuration to netlify.toml
  _redirects
  netlify.toml
Due: none

fix
  netlify.toml
Due: none

fix
  netlify.toml
  public/_redirects
Due: none

fix: update URLs to point to the new web-toolbox.dev domain
  README.md
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: update config
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update icon references to use Lucide icons
  app/components/ColorCard.vue
  app/components/ColorInput.vue
  app/components/ColorWeight.vue
  app/components/MobileDrawer.vue
  app/components/PanelFooter.vue
  app/components/ThemeSwitcher.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: add Google Adsense
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add utility function for class name merging
  app/utils/index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: update component styles and labels for better clarity
  app/app.config.ts
  app/app.vue
  app/components/AppearanceSettings.vue
  app/components/ColorInput.vue
  app/components/SidePanel.vue
Due: eslint --fix --max-warnings=0, prettier --write

fix: update Google Analytics ID
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: add copilot-instructions.md to .gitignore
  .gitignore
Due: none

refactor: update ColorCard and Generator components for improved type safety and clarity
  app/components/ColorCard.vue
  app/components/Generator.vue
Due: none

refactor: replace button with switch for theme toggling
  app/components/ThemeSwitcher.vue
Due: none
