Repository k-urtica/tints-and-shades: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{css,scss,json}": [
    "prettier --write"
  ]
}

fix: update ads
  app/components/AdSidebar.vue
  app/components/Ads.vue
Due: none

fix
  app/components/Ads.vue
Due: none

fix
  app/components/AdSidebar.vue
  app/components/Ads.vue
Due: none

feat: restructure layout and enhance components
  app/app.vue
  app/assets/main.css
  app/components/AdSidebar.vue
  app/components/AppHeader.vue
  app/components/ColorWeight.vue
  app/components/Generator.vue
  app/components/MobileHeader.vue
  app/components/SidePanel.vue
  app/components/SiteTitle.vue
  app/pages/index.vue
Due: prettier --write

refactor: rename components
  app/components/ColorGenerator.vue
  app/components/SettingsPanel.vue
  app/components/SidebarAds.vue
  app/pages/index.vue
Due: none

fix: update header
  app/components/AboutModal.vue
  app/components/AppHeader.vue
  app/components/PanelFooter.vue
Due: none

chore: update README
  README.md
Due: none

feat: update layout, enhance components (#13)
  README.md
  app/app.vue
  app/assets/main.css
  app/components/AboutModal.vue
  app/components/AdSidebar.vue
  app/components/AppHeader.vue
  app/components/ColorGenerator.vue
  app/components/ColorWeight.vue
  app/components/Generator.vue
  app/components/MobileHeader.vue
  app/components/PanelFooter.vue
  app/components/SettingsPanel.vue
  app/components/SidebarAds.vue
  app/components/SiteTitle.vue
  app/pages/index.vue
Due: prettier --write

refactor: added default variants for theme
  app/app.config.ts
  app/components/AboutModal.vue
  app/components/AppHeader.vue
  app/components/ColorGenerator.vue
  app/components/ColorInput.vue
  app/components/ColorWeight.vue
  app/components/LangSwitcher.vue
  app/components/MobileDrawer.vue
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: enhance language and theme switcher UI
  app/components/LangSwitcher.vue
  app/components/ThemeSwitcher.vue
Due: none

feat: enhance UI components and configuration
  app/app.config.ts
  app/assets/main.css
  app/components/AboutModal.vue
  app/components/AppHeader.vue
  app/components/ColorCard.vue
  app/components/ColorGenerator.vue
  app/components/ColorWeight.vue
  app/components/PanelContainer.vue
  app/components/SettingsPanel.vue
  app/components/SidebarAds.vue
  app/components/ThemeSwitcher.vue
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add fallback skeleton loading
  app/components/ColorGenerator.vue
Due: none

fix: adjust layout
  app/app.vue
  app/assets/main.css
  app/components/ColorGenerator.vue
  app/components/SettingsPanel.vue
  app/components/SidebarAds.vue
  app/pages/index.vue
Due: prettier --write

feat: update AboutModal and localization files
  app/components/AboutModal.vue
  app/components/AppHeader.vue
  i18n/locales/de.yaml
  i18n/locales/en.yaml
  i18n/locales/es.yaml
  i18n/locales/fr.yaml
  i18n/locales/ja.yaml
  i18n/locales/ko.yaml
  i18n/locales/zh.yaml
Due: none

feat: add tool docs
  app/assets/markdown.css
  app/components/AppHeader.vue
  app/components/DocSwitcher.vue
  app/components/ToolDoc.vue
  app/pages/index.vue
  content.config.ts
  content/docs/de.md
  content/docs/en.md
  content/docs/es.md
  content/docs/fr.md
  content/docs/ja.md
  content/docs/ko.md
  content/docs/zh.md
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: enhance markdown styles and improve motion effects
  app/assets/markdown.css
  app/components/ToolDoc.vue
  app/pages/index.vue
  app/utils/motion.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update filename
  content/docs/zh_cn.md
Due: none

feat: Add tool docs (#14)
  app/assets/markdown.css
  app/components/AboutModal.vue
  app/components/AppHeader.vue
  app/components/DocSwitcher.vue
  app/components/ToolDoc.vue
  app/pages/index.vue
  app/utils/motion.ts
  content.config.ts
  content/docs/de.md
  content/docs/en.md
  content/docs/es.md
  content/docs/fr.md
  content/docs/ja.md
  content/docs/ko.md
  content/docs/zh_cn.md
  i18n/locales/de.yaml
  i18n/locales/en.yaml
  i18n/locales/es.yaml
  i18n/locales/fr.yaml
  i18n/locales/ja.yaml
  i18n/locales/ko.yaml
  i18n/locales/zh.yaml
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: Refactor documentation toggle functionality
  app/components/DocSwitcher.vue
  app/composables/useDocToggle.ts
  app/pages/index.vue
Due: eslint --fix --max-warnings=0, prettier --write

fix: Adjust doc styles and improve motion utility
  app/assets/markdown.css
  app/components/ToolDoc.vue
  app/utils/motion.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: adjust layout
  app/app.vue
  app/components/SidebarAds.vue
Due: none

fix: refine layout and structure in multiple components
  app/components/AppHeader.vue
  app/components/ColorGenerator.vue
  app/components/MobileDrawer.vue
  app/components/ToolDoc.vue
  app/pages/index.vue
Due: none

fix: adjust button size and layout in LangSwitcher and PanelFooter
  app/components/LangSwitcher.vue
  app/components/PanelFooter.vue
Due: none

fix: change font
  app/assets/main.css
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update icon opacity and text size in ColorCard component
  app/components/ColorCard.vue
Due: none

fix: add custom scrollbar styles
  app/assets/main.css
Due: prettier --write

fix
  app/components/SidebarAds.vue
Due: none

feat: update ui (#15)
  app/assets/main.css
  app/components/AppHeader.vue
  app/components/ColorCard.vue
  app/components/ColorGenerator.vue
  app/components/LangSwitcher.vue
  app/components/MobileDrawer.vue
  app/components/PanelFooter.vue
  app/components/SidebarAds.vue
  app/components/ToolDoc.vue
  app/pages/index.vue
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update font styles
  app/assets/main.css
  app/components/ColorCard.vue
Due: prettier --write

fix: rename component
  app/components/SettingsPanel.vue
  app/components/SettingsPanelFooter.vue
Due: none

refactor: update components structure
  app/components/AsidePanel.vue
  app/components/ContentPanel.vue
  app/components/ControlPanel.vue
  app/components/ControlPanelFooter.vue
  app/components/MobileControlPanel.vue
  app/components/shared/LangSwitcher.vue
  app/components/shared/PanelContainer.vue
  app/components/shared/Switch.vue
  app/components/shared/ThemeSwitcher.vue
  app/pages/index.vue
Due: none

feat: add culori
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: integrate culori for color manipulation
  app/composables/useColor.ts
  app/composables/useColorQuery.ts
  app/composables/useTwColor.ts
  app/plugins/culori.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor
  app/components/ColorWeight.vue
  app/composables/useColorQuery.ts
  app/constants/color.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix
  app/components/ColorCard.vue
Due: none

chore: update docs
  content/docs/de.md
  content/docs/en.md
  content/docs/es.md
  content/docs/fr.md
  content/docs/ja.md
  content/docs/ko.md
  content/docs/zh_cn.md
Due: none

fix: correct MAX_WEIGHT constant value
  app/constants/color.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: pinned version
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add color format selection and update related components
  app/components/ColorCard.vue
  app/components/ColorFormatSelector.vue
  app/components/ContentPanel.vue
  app/components/ControlPanel.vue
  app/composables/useColor.ts
  app/composables/useColorQuery.ts
  app/composables/useTwColor.ts
  app/constants/color.ts
  i18n/locales/de.yaml
  i18n/locales/en.yaml
  i18n/locales/es.yaml
  i18n/locales/fr.yaml
  i18n/locales/ja.yaml
  i18n/locales/ko.yaml
  i18n/locales/zh.yaml
Due: eslint --fix --max-warnings=0, prettier --write
