Repository k-urtica/tints-and-shades: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{css,scss,json}": [
    "prettier --write"
  ]
}

chore: update pnpm to v10.27.0
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier --write

chore: update Node version in .nvmrc to 24
  .nvmrc
Due: none

chore: upgrade deps
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: Explicitly add to dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade nuxt to v4.4.2
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: upgrade nuxt/ui to v4.5.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update packageManager version to pnpm@10.32.1
  package.json
Due: prettier --write

feat: enhance UI for language and theme switchers
  app/components/shared/LangSwitcher.vue
  app/components/shared/ThemeSwitcher.vue
Due: none

up
  app/components/ColorCard.vue
  app/components/MobileControlPanel.vue
  app/components/base/BaseRadioGroup.vue
Due: none

up
  app/components/ColorFormatSelector.vue
  app/components/ColorInput.vue
  app/components/ColorWeight.vue
Due: none

up
  app/components/AsidePanel.vue
  i18n/locales/de.yaml
  i18n/locales/en.yaml
  i18n/locales/es.yaml
  i18n/locales/fr.yaml
  i18n/locales/ja.yaml
  i18n/locales/ko.yaml
  i18n/locales/zh.yaml
  public/images/logo-border-radius-pro.webp
  public/images/logo-gradient-text-pro.webp
  public/images/logo-picdiff.webp
  public/images/logo-web-toolbox.webp
Due: none

fix
  app/components/ColorCard.vue
Due: none

fix: update layout
  app/components/ColorCard.vue
  app/components/ContentPanel.vue
Due: none

fix
  app/components/ColorInput.vue
Due: none

refactor
  app/components/base/BaseSlider.vue
Due: none

fix: update font families
  app/assets/main.css
Due: prettier --write

chore: update readme
  README.md
Due: none

feat: update ui (#20)
  README.md
  app/assets/main.css
  app/components/AsidePanel.vue
  app/components/ColorCard.vue
  app/components/ColorFormatSelector.vue
  app/components/ColorInput.vue
  app/components/ColorWeight.vue
  app/components/ContentPanel.vue
  app/components/MobileControlPanel.vue
  app/components/base/BaseRadioGroup.vue
  app/components/base/BaseSlider.vue
  app/components/shared/LangSwitcher.vue
  app/components/shared/ThemeSwitcher.vue
  i18n/locales/de.yaml
  i18n/locales/en.yaml
  i18n/locales/es.yaml
  i18n/locales/fr.yaml
  i18n/locales/ja.yaml
  i18n/locales/ko.yaml
  i18n/locales/zh.yaml
  public/images/logo-border-radius-pro.webp
  public/images/logo-gradient-text-pro.webp
  public/images/logo-picdiff.webp
  public/images/logo-web-toolbox.webp
Due: prettier --write
