Repository k-urtica/tints-and-shades: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

feat: add AboutModal component and update PanelFooter to use it
  app/assets/main.css
  app/components/AboutModal.vue
  app/components/PanelFooter.vue
Due: prettier --write

fix: enable client bundle scanning
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: replace Slider component with UFormField and update weight step handling
  app/components/ColorWeight.vue
  app/components/Slider.vue
Due: none

feat: add @nuxtjs/robots
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix
  app/components/ColorInput.vue
  app/components/ColorWeight.vue
Due: none

refactor: reorganize SidePanel layout for improved readability
  app/components/SidePanel.vue
Due: none

feat: update primary color
  app/app.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

delete: remove Google site verification file
  public/googleaa475222c54abde1.html
Due: none

feat: unified to @ctrl/tinycolor to improve color generation logic
  app/components/ColorCard.vue
  app/components/Generator.vue
  app/composables/useColor.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: add related tools section with link to Web ToolBox
  app/components/AboutModal.vue
Due: none

fix
  app/components/ColorCard.vue
  app/composables/useColor.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update
  app/components/ColorInput.vue
  app/components/Generator.vue
  app/stores/appStore.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: streamline color generation logic
  app/components/Generator.vue
  app/composables/useColor.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor
  app/components/ColorCard.vue
  app/components/Generator.vue
Due: none

fix: update initial values
  app/stores/appStore.ts
Due: eslint --fix --max-warnings=0, prettier --write

wip: enabled ads
  app/pages/index.vue
Due: none

feat: add AdSidebar and Ads components for ad display
  app/components/AdSidebar.vue
  app/components/Ads.vue
  app/pages/index.vue
Due: none

chore: remove unused dir
  server/tsconfig.json
Due: prettier --write

feat: update font family and improve OGP image.
  app/assets/main.css
  app/components/OgImage/Default.vue
  app/pages/index.vue
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix
  app/components/SidePanel.vue
Due: none

fix
  app/components/ColorInput.vue
Due: none

feat: replace random color generation with a composable
  app/components/ColorInput.vue
  app/composables/useColor.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: adjust style
  app/components/ColorCard.vue
Due: none

docs: update README
  README.md
Due: none

fix: remove unused file
  public/ogBg.png
Due: none

feat(experimental): add Tailwind color generation
  app/components/Generator.vue
  app/composables/useTwColor.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add showText option
  app/components/AppearanceSettings.vue
  app/components/ColorCard.vue
  app/components/Generator.vue
  app/stores/appStore.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add SEO metadata and site configuration
  app/app.vue
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: enhance layout and styling across components
  app/app.vue
  app/assets/main.css
  app/components/AdSidebar.vue
  app/components/Ads.vue
  app/components/Generator.vue
  app/components/MobileDrawer.vue
  app/components/SidePanel.vue
  app/pages/index.vue
Due: prettier --write

feat: integrate motion-v for enhanced animations in components
  app/pages/index.vue
  app/utils/motion.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: update style
  app/app.vue
  app/assets/main.css
  app/components/AdSidebar.vue
  app/components/Generator.vue
  app/components/MobileDrawer.vue
  app/components/SidePanel.vue
Due: prettier --write

chore: update README
  README.md
Due: none

fix: update ads
  app/components/AdSidebar.vue
  app/components/Ads.vue
Due: none

fix: update AdSlider
  app/components/AdSidebar.vue
  app/components/Ads.vue
Due: none

fix: update AdSidebar and Ads component styles
  app/components/AdSidebar.vue
  app/components/Ads.vue
Due: none

feat: add SiteTitle component
  app/components/SiteTitle.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: replace header titles with SiteTitle
  app/app.vue
  app/components/SidePanel.vue
Due: none

feat: add @nuxtjs/i18n module
  i18n/i18n.config.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: implement i18n support with localization files and update components for multilingual support
  .vscode/settings.json
  app/app.vue
  app/components/AboutModal.vue
  app/components/AdSidebar.vue
  app/components/Ads.vue
  app/components/AppearanceSettings.vue
  app/components/ColorCard.vue
  app/components/ColorInput.vue
  app/components/ColorWeight.vue
  app/components/Generator.vue
  app/components/LangSwitcher.vue
  app/components/MobileDrawer.vue
  app/components/PanelFooter.vue
  app/components/SidePanel.vue
  app/components/ThemeSwitcher.vue
  i18n/locales/en.yaml
  i18n/locales/ja.yaml
Due: prettier --write

fix
  app/app.vue
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{css,scss,json})
