Repository k-urtica/tints-and-shades: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{css,scss,json}": [
    "prettier --write"
  ]
}

chore: update README
  README.md
Due: none

feat: enhance color system (#16)
  README.md
  app/components/ColorCard.vue
  app/components/ColorFormatSelector.vue
  app/components/ColorWeight.vue
  app/components/ContentPanel.vue
  app/components/ControlPanel.vue
  app/composables/useColor.ts
  app/composables/useColorQuery.ts
  app/composables/useTwColor.ts
  app/constants/color.ts
  app/plugins/culori.ts
  content/docs/de.md
  content/docs/en.md
  content/docs/es.md
  content/docs/fr.md
  content/docs/ja.md
  content/docs/ko.md
  content/docs/zh_cn.md
  i18n/locales/de.yaml
  i18n/locales/en.yaml
  i18n/locales/es.yaml
  i18n/locales/fr.yaml
  i18n/locales/ja.yaml
  i18n/locales/ko.yaml
  i18n/locales/zh.yaml
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: fixed hydration mismatch
  app/components/ColorFormatSelector.vue
  app/components/ContentPanel.vue
  app/components/MobileControlPanel.vue
Due: none

fix: adjust spacing and UI properties in components
  app/components/ColorFormatSelector.vue
  app/components/ColorWeight.vue
  app/components/ContentPanel.vue
  app/components/ControlPanel.vue
Due: none

feat: replace UI components with Base components for consistency
  app/components/AppearanceSettings.vue
  app/components/ColorFormatSelector.vue
  app/components/ColorWeight.vue
  app/components/ContentPanel.vue
  app/components/MobileControlPanel.vue
  app/components/base/BaseRadioGroup.vue
  app/components/base/BaseSwitch.vue
  app/components/base/BaseTabsSelector.vue
  app/components/shared/DocSwitcher.vue
Due: none

fix: implement BaseSlider component and update ColorWeight usage
  app/components/ColorWeight.vue
  app/components/ControlPanel.vue
  app/components/base/BaseRadioGroup.vue
  app/components/base/BaseSlider.vue
Due: none

fix
  app/app.config.ts
  app/components/ColorInput.vue
  app/components/base/BaseTabsSelector.vue
Due: eslint --fix --max-warnings=0, prettier --write

fix
  app/components/ControlPanel.vue
Due: none

feat: restructure components (#17)
  app/app.config.ts
  app/components/AppearanceSettings.vue
  app/components/ColorFormatSelector.vue
  app/components/ColorInput.vue
  app/components/ColorWeight.vue
  app/components/ContentPanel.vue
  app/components/ControlPanel.vue
  app/components/MobileControlPanel.vue
  app/components/base/BaseRadioGroup.vue
  app/components/base/BaseSlider.vue
  app/components/base/BaseSwitch.vue
  app/components/base/BaseTabsSelector.vue
  app/components/shared/DocSwitcher.vue
Due: eslint --fix --max-warnings=0, prettier --write

fix: remove unused props
  app/components/base/BaseSlider.vue
Due: none

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: rename dir
  app/components/og-image/Default.vue
Due: none

fix: replace Ads component with AdBanner
  app/components/AsidePanel.vue
  app/components/shared/AdBanner.vue
Due: none

feat: introduce BaseIconText component for consistent icon-text usage
  app/components/ControlPanel.vue
  app/components/base/BaseIconText.vue
  app/components/base/BaseTabsSelector.vue
  app/components/shared/LangSwitcher.vue
  app/components/shared/ThemeSwitcher.vue
Due: none

refactor: update ControlPanel and MobileControlPanel
  app/components/ControlPanel.vue
  app/components/ControlPanelContent.vue
  app/components/MobileControlPanel.vue
Due: none

refactor: update components structure (#18)
  app/components/AsidePanel.vue
  app/components/ControlPanel.vue
  app/components/ControlPanelContent.vue
  app/components/MobileControlPanel.vue
  app/components/base/BaseIconText.vue
  app/components/base/BaseTabsSelector.vue
  app/components/og-image/Default.vue
  app/components/shared/AdBanner.vue
  app/components/shared/LangSwitcher.vue
  app/components/shared/ThemeSwitcher.vue
Due: none

feat: implement useAppHead composable for SEO management
  app/app.vue
  app/composables/useAppHead.ts
  app/pages/index.vue
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: simplify SEO management with nuxt seo module
  app/app.vue
  app/components/og-image/Default.vue
  app/composables/useAppHead.ts
  app/pages/index.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  public/og-image.png
Due: eslint --fix --max-warnings=0, prettier --write

feat: simplify SEO management with nuxt seo module (#19)
  app/app.vue
  app/components/og-image/Default.vue
  app/composables/useAppHead.ts
  app/pages/index.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  public/og-image.png
Due: eslint --fix --max-warnings=0, prettier --write

fix: remove unused redirects
  public/_redirects
Due: none

refactor: improve semantic structure of components
  app/app.vue
  app/components/AppHeader.vue
  app/components/AsidePanel.vue
  app/components/ContentPanel.vue
  app/components/ToolDoc.vue
  app/components/shared/ThemeSwitcher.vue
  app/pages/index.vue
Due: none

chore: upgrade pnpm to v10.14.0
  package.json
Due: prettier --write

fix: adjust style
  app/components/ContentPanel.vue
  app/components/ControlPanel.vue
  app/components/MobileControlPanel.vue
Due: none

refactor: replace inline GitHub button with a separate component
  app/components/AppHeader.vue
  app/components/shared/GitHubButton.vue
Due: none

fix: update style
  app/app.vue
  app/components/ColorCard.vue
  app/components/base/BaseTabsSelector.vue
Due: none

fix: remove unused file
  app/composables/useAppHead.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: remove @nuxt/image
  app/components/AppHeader.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

refactor: replace useAppToast with useToast
  app/components/ContentPanel.vue
  app/composables/useAppToast.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: added tool links
  app/components/AsidePanel.vue
  public/images/logo-border-radius-pro.webp
  public/images/logo-gradient-text-pro.webp
Due: none

chore: update packageManager version to pnpm@10.17.0
  package.json
Due: prettier --write

chore: upgrade @nuxt/ui to v4.0.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update packageManager version to pnpm@10.18.2 and add pnpm-workspace.yaml
  package.json
  pnpm-workspace.yaml
Due: prettier --write

chore: upgrade nuxt to v4.2.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update nuxt.config.ts for experimental features and sitemap settings
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write
