Repository k-urtica/tints-and-shades: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

♿️ axe: Improve visibility of the copy button
  src/components/ColorCard/ColorCard.tsx
Due: eslint --fix --max-warnings=0, prettier --write

🔧 config: remove importOrder
  .prettierrc
Due: none

🔨 scripts: add lint, prettier commands
  package.json
Due: prettier --write

🔍 seo: add robots.txt
  gatsby-config.ts
  package.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

🔍 seo: add ogp meta property
  gatsby-ssr.tsx
  src/components/Seo/Seo.tsx
Due: eslint --fix --max-warnings=0, prettier --write

💄 style: add border
  src/pages/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

📝 docs: add search console verification
  static/googleaa475222c54abde1.html
Due: none

♻️ refactor
  src/pages/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

📈 gtag: add gatsby-plugin-google-gtag
  gatsby-config.ts
  package.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

📄 docs: add LICENSE
  LICENSE
Due: none

📝 docs: update README.md
  README.md
Due: none

♿️ axe: improved accessibility
  src/components/ColorCard/ColorCard.tsx
  src/components/SidePanel/EditBackground/EditBackground.tsx
  src/components/SidePanel/EditColor/EditColor.tsx
  src/components/SidePanel/EditWeight/EditWeight.tsx
Due: eslint --fix --max-warnings=0, prettier --write

🔥 remove unused code
  src/provider/CustomProvider.tsx
Due: eslint --fix --max-warnings=0, prettier --write

♻️ refactor: Refactoring custom 404 page
  src/pages/404.tsx
Due: eslint --fix --max-warnings=0, prettier --write

✨ feat: add github repo link
  src/components/SidePanel/SidePanel.tsx
  src/components/SidePanel/SidePanelActions/SidePanelActions.tsx
Due: eslint --fix --max-warnings=0, prettier --write

✨ feat: allows specifying whether to include hash
  src/components/ColorCard/ColorCard.tsx
  src/components/PreviewHeader/PreviewHeader.tsx
  src/components/SidePanel/PreviewSettings/PreviewSettings.tsx
  src/components/SidePanel/ToggleHash/ToggleHash.tsx
  src/store/atoms/appAtom.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat!: replace with nuxt3
  .gitignore
  .prettierignore
  .prettierrc
  LICENSE
  README.md
  app/app.config.ts
  app/app.vue
  app/assets/main.css
  app/components/ColorCard.vue
  app/components/ColorInput.vue
  app/components/ColorPreview.vue
  app/components/ColorWeight.vue
  app/components/MobilePanel.vue
  app/components/SidePanel.vue
  app/components/Slider.vue
  app/components/Switch.vue
  app/components/ThemeSwitcher.vue
  app/composables/useAppToast.ts
  app/pages/index.vue
  app/stores/appStore.ts
  eslint.config.mjs
  netlify.toml
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  public/favicon.svg
  public/googleaa475222c54abde1.html
  public/ogp.png
  server/tsconfig.json
  tailwind.config.cjs
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

feat: add husky, lint-staged
  .husky/pre-commit
  .lintstagedrc.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: rename component
  app/components/Generator.vue
  app/pages/index.vue
Due: none

refactor
  app/app.vue
  app/stores/appStore.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: separate appearance settings into a reusable component
  app/components/AppearanceSettings.vue
  app/components/MobilePanel.vue
  app/components/SidePanel.vue
Due: none

feat: add @nuxt/scripts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

refactor: update font-family in main.css
  app/assets/main.css
Due: prettier --write

feat: add @nuxtjs/sitemap
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

refactor: update caption font size in Switch component
  app/components/Switch.vue
Due: none

feat: add caption
  app/components/AppearanceSettings.vue
Due: none

feat: update panel footer in MobilePanel and SidePanel components
  app/components/MobilePanel.vue
  app/components/PanelFooter.vue
  app/components/SidePanel.vue
Due: none

refactor: update surface color
  app/assets/main.css
Due: prettier --write

refactor: update appearance border
  app/components/Generator.vue
Due: none

fix: update default values
  app/stores/appStore.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix
  app/components/ColorInput.vue
  app/components/PanelFooter.vue
Due: none

fix
  app/components/ColorCard.vue
  tailwind.config.cjs
Due: none

refactor: update hex color to uppercase
  app/components/ColorCard.vue
Due: none

fix: text color
  app/app.vue
  app/components/SidePanel.vue
Due: none

chore: update RAEDME
  README.md
Due: none

chore: remove unused deps
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: upgrade non-major deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add favicon
  public/favicon.ico
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{css,scss,json})
